In [4]:
name = '    sagar   '
print(len(name))
print(len(name.strip()))

12
5

In [6]:
name = 'sagAr'
print(name.swapcase())

SAGaR

In [8]:
txt = 'banana.......qswqqqsss,,,,,,'
y = txt.rstrip('.,qsw')
print(y)

banana

In [10]:
txt = 'h\te\tl\tl\to'
x = txt.expandtabs(2)
print(x)

h e l l o

In [13]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict.keys())

print(x)

nameTESTcountry

In [14]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [17]:
mlst = [1,2,3,4,5,6]
x = mlst.append(7)
print(mlst)

[1, 2, 3, 4, 5, 6, 7]

In [19]:
mlst = [1,2,3,4,5,6]
x = mlst.pop(1)
print(mlst)

[1, 3, 4, 5, 6]

In [24]:
mlst = [1,2,3,4,5,6]
x = mlst.count(2)
print(x)

1

In [29]:
fruits = ['mango','orange','banana']
colour = ['green', 'orange','yello']
fruits.extend(colour)
fruits

['mango', 'orange', 'banana', 'green', 'orange', 'yello']

In [32]:
x = ('key1','key2','key3')
y = 0

mydict = dict.fromkeys(x,y)
mydict

{'key1': 0, 'key2': 0, 'key3': 0}

In [38]:
name = ('sagar','shubhangi','akshay')
surname = 'agale'

mydict = dict.fromkeys(name,surname)
mydict

{'sagar': 'agale', 'shubhangi': 'agale', 'akshay': 'agale'}

In [39]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get('model')
x

'Mustang'

In [40]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get('price',12000)
print(x)

12000

In [41]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [45]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.keys()
car['colour'] = 'white'
print(x)

dict_keys(['brand', 'model', 'year', 'colour'])

In [44]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.values()
car['colour'] = 'white'
print(x)

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [47]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop('model')
print(car)

{'brand': 'Ford', 'year': 1964}

In [48]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [49]:
txt = 'nitin'
print(len(txt))

5

In [ ]:
txt = 'nitin'
print(len(txt))

In [ ]:
upper()
lower()
count(),index()
strip()
casefold()
title
expandtabsize
capitalize
endswith
Find
join
replace
startwith
split
splitlines
swapcase

In [1]:
txt = 'sagar'

In [2]:
print(txt.capitalize())

Sagar

In [ ]:
print()

In [12]:
mylist = [1,3,2,4]
mydict = {'name':'ram','age':49,'gender':'m'}

In [13]:
mydict['name']
mylist[1:3]

[3, 2]

In [14]:
mylist.sort()
mylist

[1, 2, 3, 4]

In [4]:
1<2

True

In [1]:
%%writefile myfile.txt
this  is my file

Writing myfile.txt

In [2]:
pwd

'c:\\Users\\Shrisha\\Projects'

In [1]:
myfile = open("myfile.txt")

In [2]:
myfile.read()

'this  is my file\n'

In [3]:
myfile.close()

In [4]:
%%writefile myfile_demo.txt
this is the first licen
this is the second line
this is the third line

Writing myfile_demo.txt

In [14]:
mydemofile = open("myfile_demo.txt")

In [15]:
mydemofile.read()

'this is the first licen\nthis is the second line\nthis is the third line\n'

In [16]:
mydemofile.read()

''

In [17]:
mydemofile.seek(0)

0

In [18]:
mydemofile.read()

'this is the first licen\nthis is the second line\nthis is the third line\n'

In [2]:
with open("myfile_demo.txt") as f:
    contents = f.read()

In [7]:
txt = contents.split()

In [9]:
' '.join(txt)

'this is the first licen this is the second line this is the third line'

In [25]:
with open('demo.txt', mode='w+') as f:
    f.write('high sagar \nhow are you?')

In [26]:
with open('demo.txt') as f:
    print(f.read())

high sagar
how are you?

In [27]:
with open('demo.txt', mode='a') as f:
    f.write('\nhow old are you?')

In [28]:
with open('demo.txt',mode='r') as f:
    print(f.read())

high sagar
how are you?
how old are you?

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
3 != 3

False

In [7]:
4 != 5

True

In [8]:
1 < 2

True

In [9]:
2>1

True

In [10]:
4 <= 5

True

In [11]:
5 >= 6

False

In [12]:
4 == 4 and 'hi' == 'hi'

True

In [14]:
4 == 4 and 'Hi' == 'hi'
4 == 4 and 'Hi' == 'hi'

False

In [15]:
1 < 5 >4

True

In [16]:
if True:
    print('it is true')

it is true

In [17]:
hungry = True

if hungry:
    print("feed me")

feed me

In [18]:
hungry = False

if hungry:
    print("feed me")
else:
    print("i am not hungry")

i am not hungry

In [20]:
loc = 'bank'

if loc == 'Autoshop':
    print('cars are cool')
elif loc == "bank":
    print("money is cool")
else:
    print("i dont know much")

money is cool

In [26]:
mylist = [1,2,3]

for item_name in mylist:
    
    if item_name == 2:
        print(item_name)
        continue

2

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    if num%2 == 0:
        print(num)

2
4
6
8
10

In [15]:
x = 0
while x < 5:
    print(x)
    if x == 3:
        
        break
    print(f"The current value of x is {x}")
    x += 1

0
The current value of x is 0
1
The current value of x is 1
2
The current value of x is 2
3

In [14]:
for i in range(1,10):
    print(i)
    if i == 3:
        
        break

1
2
3

In [18]:
for letter in 'sagar':
    if letter == 'a':
        break
    print(letter)

s

In [19]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [20]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [24]:
sum = 0

for i in range(0,11):
    sum = sum + i
print(sum)

55

In [25]:
index_count = 0

for letter in 'abcde':
    print('at a index {} letter is {}'.format(index_count, letter))
    index_count += 1

at a index 0 letter is a
at a index 1 letter is b
at a index 2 letter is c
at a index 3 letter is d
at a index 4 letter is e

In [26]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [32]:
word = 'abcde'
for a,b in enumerate(word):
    print(a)
    print(b)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [ ]:
mylist1 = [1,2,3]
mylist2 = [a,b,c]
mylist3 = [1]

In [28]:
x = 0
while x < 4:
    y = 0
    while y < :
        print('#',end=" ")
        y += 1
    x += 1
    print()

# #
# #
# #
# #

In [39]:

for i in range(2,11):
    for j in range(1,11):
        print(f'{i} * {j} = {i*j}')
         
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [7]:
while x

1
2
3
4
5
6
7
8
9
10

In [9]:
x = [1,2,3]
for item in x:
    pass
print("end of the code")

end of the code

In [13]:
mystring = 'sagar'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

s

In [15]:
x = 0
while x < 5:

    if x == 2:
        break
    print(x)
    x += 1

0
1

In [17]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [18]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [21]:
index_count = 0
word = 'abcde'
for let in word :
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [25]:
word = 'abcde'
for index, let in enumerate(word):
    print(index,let)

0 a
1 b
2 c
3 d
4 e

In [26]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [29]:
1 in [1,2,3]

True

In [30]:
x in ['y','z','w']

False

In [34]:
'mykey'in {'mykey':322}

True

In [36]:
d = {'mykey':345}
345 in d.values()

True

In [37]:
mylist = [10,20,30,40,50,60]
min(mylist)

10

In [38]:
max(mylist)

60

In [40]:
from random import shuffle
shuffle(mylist)
mylist

[40, 10, 50, 60, 20, 30]

In [50]:
from random import randint
randint(0,100)

27

In [1]:
mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)

In [2]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mystring = 'hello'
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [2]:
mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mystring = 'hello'
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist = [ i.upper() for i in 'word']

In [8]:
mylist

['W', 'O', 'R', 'D']

In [13]:
mylist = [ num**2 for num in range(1,11)]

In [14]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
mylist = [num for num in range(1,11) if num%2 == 0]

In [16]:
mylist

[2, 4, 6, 8, 10]

In [17]:
mylist = [num**2 for num in range(1,11) if num%2 == 0]

In [18]:
mylist

[4, 16, 36, 64, 100]

In [19]:
celcius = [10,20,30,40]

fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [20]:
fahrenheit

[50.0, 68.0, 86.0, 104.0]

In [21]:
fahernheit = []

for temp in celcius:
    fahernheit.append((9/5)*temp+32)

In [22]:
fahernheit

[50.0, 68.0, 86.0, 104.0]

In [7]:
mylist = [f'{x**2} is even' if x%2 == 0 else f'{x} is odd' for x in range(1,11)]

In [8]:
mylist

['1 is odd',
 '4 is even',
 '3 is odd',
 '16 is even',
 '5 is odd',
 '36 is even',
 '7 is odd',
 '64 is even',
 '9 is odd',
 '100 is even']

In [9]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,400]:
        mylist.append(x*y)

In [10]:
mylist

[200, 400, 800, 400, 800, 1600, 600, 1200, 2400]

In [11]:
mylist = [x*y for x in [2,4,6] for y in [100,200,400]]

In [12]:
mylist

[200, 400, 800, 400, 800, 1600, 600, 1200, 2400]

In [13]:
mylist = [1,2,3]

In [14]:
mylist.append(2)

In [15]:
mylist

[1, 2, 3, 2]

In [16]:
mylist.count(2)

2

In [17]:
mylist.extend([4,5,6,7])

In [18]:
mylist

[1, 2, 3, 2, 4, 5, 6, 7]

In [19]:
mylist.extend(['sagar','pune', 'royal'])

In [20]:
mylist

[1, 2, 3, 2, 4, 5, 6, 7, 'sagar', 'pune', 'royal']

In [21]:
mylist.index(2)

1

In [22]:
mylist.index('sagar')

8

In [23]:
mylist.insert(2,'hello')

In [24]:
mylist

[1, 2, 'hello', 3, 2, 4, 5, 6, 7, 'sagar', 'pune', 'royal']

In [25]:
mylist.pop()

'royal'

In [26]:
mylist.pop(2)

'hello'

In [27]:
mylist

[1, 2, 3, 2, 4, 5, 6, 7, 'sagar', 'pune']

In [28]:
mylist.remove(2)

In [29]:
mylist

[1, 3, 2, 4, 5, 6, 7, 'sagar', 'pune']

In [30]:
mylist.reverse()

In [31]:
mylist

['pune', 'sagar', 7, 6, 5, 4, 2, 3, 1]

In [34]:
mylist.pop(0)

'pune'

In [36]:
mylist.pop(0)

'sagar'

In [37]:
mylist.sort()

In [38]:
mylist

[1, 2, 3, 4, 5, 6, 7]

In [39]:
txt = 'sagar'

In [40]:
txt.capitalize()

'Sagar'

In [41]:
txt.casefold()

'sagar'

In [42]:
txt.center(20,"*")

'*******sagar********'

In [43]:
txt.endswith('r')

True

In [44]:
txt.expandtabs()

'sagar'

In [46]:
txt.count('a')

2

In [47]:
txt.find('a')

1

In [48]:
txt.rfind('a')

3

In [49]:
txt.isalpha()

True

In [51]:
txt.isalnum()

True

In [52]:
txt.isalnum()

True

In [53]:
txt.isdecimal()

False

In [54]:
txt.isdigit()

False

In [55]:
txt.islower()

True

In [56]:
txt.isupper()

False

In [57]:
txt.replace('a','@')

's@g@r'

In [58]:
txt.swapcase()

'SAGAR'

In [2]:
username = input('Enter a name')
print(username)

'sagar'