In [3]:
mylist = ['apple', 'banana', 'mango']
for i in range(len(mylist)):
    print(i, mylist[i])

0 apple
1 banana
2 mango

In [5]:
mylist = ['apple', 'banana', 'mango']
i = 0

while i < len(mylist):
    print(mylist[i],i)
    i += 1

apple 0
banana 1
mango 2

In [10]:
mylist = ['apple', 'banana', 'mango']
[i for i in mylist]

['apple', 'banana', 'mango']

In [8]:
mylist = ['apple', 'banana', 'mango']
[print(i) for i in mylist]

['apple', 'banana', 'mango']

In [12]:
fruits = ['apple','banana','mango','cherry']
newlist = []

for i in fruits:
    if "a" in i:
        newlist.append(i)
print(newlist)

['apple', 'banana', 'mango']

In [13]:
fruits = ['apple','banana','mango','cherry']

newlist =[ i for i in fruits if "a" in i]
print(newlist)

['apple', 'banana', 'mango']

In [14]:
fruits = ['apple','banana','mango','cherry']
newlist =[ i for i in fruits if i!='apple']
print(newlist)

['banana', 'mango', 'cherry']

In [15]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
[x for x in range(10) if x >= 5]

[5, 6, 7, 8, 9]

In [1]:
fruits = ['apple','banana','mango','cherry']
newlist =[ i.upper() for i in fruits ]
print(newlist)

['APPLE', 'BANANA', 'MANGO', 'CHERRY']

In [24]:
mylist = ['apple','banana','mango']

In [25]:
# append()  add item at the end of the list


mylist.append("watermelon")
print(mylist)

['apple', 'banana', 'mango', 'watermelon']

In [26]:
# clear this method is used to remove all item from list

# mylist.clear()
# print(mylist)

In [27]:
# count()
print(mylist.count("apple"))

1

In [8]:
# extend() add each element iterable to the end of the list
mylist = ['apple','banana','mango']
mylist.extend(['pune'])
print(mylist)

['apple', 'banana', 'mango', 'pune']

In [13]:
# index() Return the lowest index where the elements appears.

mylist = [1,2,3]
print(mylist.index(2,3))

ValueError: 2 is not in list

In [17]:
# insert()  insert given element at a given index in a list

mylist = [1,2,3,4]
mylist.insert(4,5)
print(mylist)

[1, 2, 3, 4, 5]

In [19]:
# pop()  Remove and returns the last value from the list or the gie

mylist = [1,2,3,4,5,6]
mylist.pop(0)
print(mylist)

[1, 2, 3, 4, 5]

In [20]:
# remove    Remove given object from the list
mylist = [1,2,3,4,5]
mylist.remove(2)
print(mylist)

[1, 3, 4, 5]

In [21]:
# reverse() Reverse object on the list in place

mylist = [1,2,3,4,5]
mylist.reverse()
print(mylist)

[5, 4, 3, 2, 1]

In [33]:
# sort() sort list ascending , descending or userdefined
mylist = [1,22,33,4,5,56,7,9]
mylist.sort()
print(mylist)

[1, 4, 5, 7, 9, 22, 33, 56]

In [37]:
# min() calculate the minimum of all the element of the list
mylist = [1,2,3,4,45,5,65] 

print(min(mylist))

1

In [38]:
# max()  calculate the maximum of all the element in the list
mylist = [22,3,4,45,54,60]
print(max(mylist))

60

In [5]:
# list comprehension

mylist = ['banana','mango','chery','orange']
l = []

for i in mylist:
    if 'a' in i:
        l.append(i)

print(l)

['banana', 'mango', 'orange']

In [8]:
mylist = ['banana','mango','chery','orange']
l = [i for i in mylist if i != 'apple']
print(l)

['banana', 'mango', 'chery', 'orange']

In [10]:
mylist = ['banana','mango','chery','orange']
l = [i for i in mylist]
print(l)

['banana', 'mango', 'chery', 'orange']

In [14]:
newlist = [i for i in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
newlist = [i  for i in range(10) if i < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [18]:
newlist = ['banana','apple','orange']
mylist = [i.upper() for i in newlist]
print(mylist)

['BANANA', 'APPLE', 'ORANGE']

In [22]:
newlist = ['banana','apple','orange']
mylist = ['hello' for i in range(len(mylist))]
print(mylist)

['hello', 'hello', 'hello']

In [27]:
newlist = ['banana','apple','orange']
mlist = [i if i != 'banana' else "orange" for i in newlist]
print(mlist)

['orange', 'apple', 'orange']

In [34]:
newlist = ['{} is  even no '.format(i) if i%2 == 0 else '{} is odd no'.format(i) for i in range(10)]
print(newlist)

['0 is  even no ', '1 is odd no', '2 is  even no ', '3 is odd no', '4 is  even no ', '5 is odd no', '6 is  even no ', '7 is odd no', '8 is  even no ', '9 is odd no']

In [1]:
# Add list item

l1 = [1,2,3]
l2 = [4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [8]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6]

In [9]:
l1 = [1,2,3]
l2 = (4,5,6)
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6]

In [15]:
thistuple = tuple(('apple','banana','mango'))
print(type(thistuple))

<class 'tuple'>