In [ ]:
# change tuple values
x = ('apple','banana','mango')
y = list(x)
y[1]='orange'
x = tuple(y)
print(x)

('apple', 'orange', 'mango')

In [ ]:
x = ('apple','banana','mango')
y = ('x',)
x += y
print(x)

In [ ]:
mytuple = ('apple','banana','mango')
print(mytuple)
print(len(mytuple))

In [ ]:
t = (1,)
print(type(t))

In [3]:
fruits = ('apple','banana','chery')
(green,yellow,red) = fruits
print(red)

chery

In [4]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [6]:
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
  print(thistuple[x])

apple
banana
cherry

In [7]:
thistuple = ("apple", "banana", "cherry")
i = 0

while i < len(thistuple):
    print(thistuple[i])

    i += 1

apple
banana
cherry

In [8]:
myset = {'apple','banana','chery'}
print(myset)

{'chery', 'banana', 'apple'}

In [9]:
myset = {'apple','banana','chery','apple'}
print(myset)

{'chery', 'banana', 'apple'}

In [17]:
myset = {'apple','banana','chery','apple',True,1}
print(myset)
print(len(myset))

{True, 'chery', 'banana', 'apple'}
4

In [16]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True,False}
print(set1,set2,set3)

{'banana', 'apple', 'cherry'} {1, 3, 5, 7, 9} {False, True}

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'c', 'a'}

In [20]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'c', 'a'}

In [21]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, 'a'}

set1.intersection_update(set2)
print(set1)

{'a'}

In [22]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, 'a'}

x = set1.intersection(set2)
print(x)

{'a'}

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, 'a'}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 'b', 3, 'c'}

In [24]:
set1 = {1,2,3,4,5}
set1.add('apple')
print(set1)

{1, 2, 3, 4, 5, 'apple'}

In [25]:
set1 = {1,2,3,4,5}
set1.add(1)
print(set1)

{1, 2, 3, 4, 5}

In [26]:
# difference - it gives only unique records
set1 = {1,2,3,4,5,6,7}
set2 = {2,3,5,6,7,9,0}
x = set1.difference(set2)
print(x)

{1, 4}

In [28]:
set1 = {1,2,3,4,5,6,7}
set2 = {2,3,5,6,7,9,0}
set1.difference_update(set2)
print(set1)

{1, 4}